.crew-page-container {
    background-image: url("/src/assets/crew/background-crew-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: white;
}

.crew-page-container h5 {
    position: absolute;
    left: 165px;
    top: 212px;
}

.crew-page-container h4 {
    position: absolute;
    left: 165px;
    top: 400px;
}

.crew-page-container h3 {
    position: absolute;
    left: 165px;
    top: 452px;
}

.crew-img {
    position: absolute;
    width: auto;
    height: 600px;
    right: 137px;
    bottom: 0;
}
.crew-page-texts-container {
    position: absolute;
    left: 165px;
    top: 543px;
    width: 444px;
    height: 128px;
}

.crew-page-texts-container h2, p {
    margin: 0;
}

.crew-page-texts-container h2 {
    margin-bottom: 14px;
}

.crew-page-texts-container p {
    margin-bottom: 54px;
}

.crew-page-texts-container hr {
    background: #383B4B;
    height: 1px;
    width: 100%;
    border: none;
    margin-bottom: 28px;
}

.crews-nav {
    position: absolute;
    left: 165px;
    bottom: 94px;
    display: flex;
    gap: 24px;
}

.crews-nav a {
    padding: 7.5px;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: normal;
    opacity: 0.17;
}

.crews-nav a.active {
    mix-blend-mode: unset;
    opacity: 1;
}

